
$base-black: #1C2A39; 
$base-grey:#5C6A79;
$font-1: 'Montserrat', Helvetica, Arial, sans-serif;
$font-2: 'Open Sans', Helvetica, Arial, sans-serif;
$base-btn-colour: #4C3DB2;
$background-sticker1:#a49ce4;
$background-sticker2: #FF8FE6;
$background-sidebar: #EFEEF6;
$baseBackgroundColor: #fff;
$baseFontSize1: 0.6em;
$baseFontSize2: 1em;



